@charset "UTF-8";

*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: #222328;
    background-color: #ffffff;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header  */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}

.header .logo {
    display: block;
    width: 200px;
    height: 40px;
    text-indent: -9999px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    padding: 0 60px;
    line-height: 100px;
    position: relative;
}

.gnb > li > a:hover {
    color: tomato;
}

.gnb > li > a:hover::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: tomato;    
    border-radius: 100%;
}

.gnb > li > a.active {
    background-color: tomato;
    color: #ffffff;
}

.gnb ul {
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    padding: 8px 0;
    z-index: 1;
    display: none;
}


.gnb ul li a {
    display: block;
    padding: 10px 0;
}

.gnb ul li a:hover {
    background-color: tomato;
    color: #ffffff;
}


/* slide */
.slide {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slide .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slide .items img {
    display: block;
}



/* contents */
.contents {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 10px 0;
    gap: 20px;
}

.tab {
    flex: 1;
}

.tab_tit {
    display: flex;
    gap: 4px;
    position: relative;
}

.tab_tit::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: tomato;
}

.tab_tit a {
    flex: 1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #eeeeee;
}

.tab_tit a.active {
    background-color: tomato;
    color: #ffffff;
}

.tab_tit a:hover {
    background-color: tomato;
    color: #ffffff;
}


.tab_cont {
    height: 130px;
    position: relative;
}

.tab_cont .notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.tab_cont .notice a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 0;
}

.tab_cont .notice a:hover {
    text-decoration: underline;
}

.tab_cont .gallery {
    display: flex;
    gap: 10px;
    height: 100%;
    padding: 20px 10px;
    display: none;
}

.tab_cont .gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    flex: 1;
    
}

.banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.links a {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #dddddd;
    text-align: center;
    line-height: 85px;
    border-radius: 15px;
}

.links a:hover {
    background-color: tomato;
}


/* footer */
.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 0 40px;
}

.sns {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.sns a {
    padding: 0 20px;
    background-color: #ffffff;
    border-radius: 30px;
}

.sns a:hover {
    background-color: #eeeeee;
}

/* modal  */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #666;
    padding: 50px 40px;
    display: none;
}

.modal.active {
    display: block;
}

.modal h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.modal p {
    line-height: 2;
    font-size: 16px;
}

.modal a {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ccc;
    position: absolute;
    top: 420px;
    right: 40px;
}


